<div class="d-flex h-100">
  <h1 mat-dialog-title>{{ livro ? "Editar" : "Adicionar" }} livro</h1>
  <mat-dialog-content class="dialog-content">
    <form [formGroup]="form">
      <mat-form-field class="w-100">
        <mat-label for="titulo">Título</mat-label>
        <input
          matInput
          type="text"
          name="titulo"
          formControlName="titulo"
          maxlength="100"
          required
        />
        <mat-error *ngIf="form.get('titulo')?.invalid">
          campo obrigatório
        </mat-error>
        <mat-hint align="end">
          {{ form.get("titulo")?.value.length }} / 100
        </mat-hint>
      </mat-form-field>

      <mat-form-field class="w-100">
        <mat-label for="subtitulo">Subtítulo</mat-label>
        <input
          matInput
          type="text"
          name="subtitulo"
          formControlName="subtitulo"
          maxlength="100"
        />
        <mat-hint align="end">
          {{ form.get("subtitulo")?.value.length }} / 100
        </mat-hint>
      </mat-form-field>

      <mat-form-field class="w-100">
        <mat-label for="resumo">Resumo</mat-label>
        <textarea
          matInput
          type="text"
          name="resumo"
          formControlName="resumo"
          maxlength="500"
        ></textarea>
        <mat-hint align="end">
          {{ form.get("resumo")?.value.length }} / 500
        </mat-hint>
      </mat-form-field>

      <div class="space-between">
        <mat-form-field class="w-40">
          <mat-label for="qtdPaginas">Qtd páginas</mat-label>
          <input
            matInput
            type="number"
            name="qtdPaginas"
            formControlName="qtdPaginas"
            max="10000"
            min="1"
            required
          />
          <mat-error *ngIf="form.get('qtdPaginas')?.invalid">
            {{
              form.get("qtdPaginas")?.errors?.max
                ? "valor acima do permitido (máx: 10.000)"
                : form.get("qtdPaginas")?.errors?.min
                ? "valor abaixo do permitido (min: 1)"
                : "campo obrigatório"
            }}
          </mat-error>
        </mat-form-field>

        <mat-form-field class="w-40">
          <mat-label for="edicao">Edição</mat-label>
          <input
            matInput
            type="number"
            name="edicao"
            formControlName="edicao"
            max="20"
            min="1"
          />
          <mat-error *ngIf="form.get('edicao')?.invalid">
            {{
              form.get("edicao")?.errors?.max
                ? "valor acima do permitido (máx: 20)"
                : "valor abaixo do permitido (min: 1)"
            }}
          </mat-error>
        </mat-form-field>
      </div>

      <mat-form-field class="w-40">
        <mat-label for="dataPublicacao">Data publicação</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          name="dataPublicacao"
          formControlName="dataPublicacao"
          required
          [disabled]="true"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker [disabled]="false"></mat-datepicker>
        <mat-error *ngIf="form.get('dataPublicacao')?.invalid">
          campo obrigatório
        </mat-error>
      </mat-form-field>

      <mat-form-field class="w-100">
        <mat-label for="editora">Editora</mat-label>
        <mat-select name="editora" formControlName="editoraId" required>
          <mat-option *ngFor="let editora of editoras" [value]="editora.id">
            {{ editora.nome }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('editora')?.invalid">
          campo obrigatório
        </mat-error>
      </mat-form-field>

      <mat-form-field class="w-100">
        <mat-label for="nome">Autor(es)</mat-label>
        <mat-select name="autores" formControlName="autoresId" multiple required>
          <mat-option *ngFor="let autor of autores" [value]="autor.id">
            {{ autor.nome }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('autores')?.invalid">
          campo obrigatório
        </mat-error>
      </mat-form-field>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions class="actions">
    <button
      mat-raised-button
      color="primary"
      [disabled]="form.invalid"
      (click)="saveLivro()"
    >
      {{ livro ? "Salvar" : "Adicionar" }}
    </button>
    <button mat-raised-button color="warn" matDialogClose>Cancelar</button>
  </mat-dialog-actions>
</div>
