<div *ngIf="isLoading" class="loader-container">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>

<mat-toolbar class="mat-elevation-z4" color="primary">
  <a mat-button routerLink="/" class="toolbar-item">Home</a>
  <a mat-button routerLink="/livros" class="toolbar-item">Livros</a>
  <a mat-button routerLink="/autores" class="toolbar-item">Autores</a>
  <a mat-button routerLink="/editoras" class="toolbar-item">Editoras</a>
</mat-toolbar>

<div class="container">
  <router-outlet></router-outlet>
</div>
